[2015-08-13 21:08] marcoscaceres opened #1 "Add a means of getting preferences from browser"
We need a way of getting to things like:

[code]

So we can having to hard-coding these values int the tiles grid generation code.

Need to add the additonal prefs here:
- [x] browser.newtabpage.enhanced
- [x] browser.newtabpage.rows
- [x] browser.newtabpage.enabled

[2015-08-13 21:18] marcoscaceres opened #2 "Externalize files used by CSS"
Need to move:
- [x] chrome://browser/skin/newtab/controls.svg
- [x] chrome://browser/skin/newtab/whimsycorn.png
- [x] chrome://global/skin/icons/close.png
- [x] chrome://mozapps/skin/places/defaultFavicon.png

[2015-08-13 21:34] marcoscaceres opened #3 "HTML attribute breakage"
@emtwo wrote:

[2015-08-13 21:35] marcoscaceres commented on #3
Also, changing `input[type=button]` to `<button>` breaks some CSS.

[2015-08-13 21:36] marcoscaceres commented on #3
FWIW, I changed the `input[type=button]` to `<button>` because input are for form inputs. As those inputs are not part of a form, it is incorrect to use them as such.

[2015-08-13 21:38] marcoscaceres commented on #3
@emtwo wrote:

[2015-08-13 21:43] marcoscaceres opened #4 "index.html needs localization"
We need to wire up index.html to start making use of the stuff in the `locales/` folder.

[2015-08-13 21:44] marcoscaceres opened #5 "Merge css files"
We currently use two css files .... we could probably merge them to cut on a HTTP request.

[2015-08-14 15:39] #3 closed, assigned to nobody

[2015-08-14 21:31] marcoscaceres opened #10 "Update legacy .js files"
The following files are currently being excluded from the CI processes (no jscs or jshint):
- [x] ./js/cells.js
- [x] ./js/customize.js
- [x] ./js/drag.js
- [x] ./js/dragDataHelper.js
- [x] ./js/drop.js
- [x] ./js/dropPreview.js
- [x] ./js/dropTargetShim.js
- [x] ./js/grid.js
- [x] ./js/newTab.js
- [x] ./js/page.js
- [x] ./js/rect.js
- [x] ./js/sites.js
- [x] ./js/transformations.js
- [x] ./js/und

[2015-08-17 19:46] marcoscaceres opened #13 "Container document messaging"
The remote newTab page needs to be an iframe in a container document reachable at `about:newTab`. The container document handle message passing.
- [ ] rename "newTab.html" -> index.html
- [ ] make a new "newTab.html" that contains the `<iframe>` pointing to the remote site,  and sets up message handling.

[2015-08-17 19:50] oyiptong commented on #13
Marina has the second piece in a repo outside of this one, tracked by [bug 1183206](https://bugzilla.mozilla.org/show_bug.cgi?id=1183206)

[2015-08-17 19:59] marcoscaceres commented on #13
Ah, awesome!

[2015-08-17 20:01] marcoscaceres opened #14 "Fix things broken from HTML conversion"
The introduction of `data-` to make the XHTML valid HTML broke stuff. Need to now go through and patch those.

[2015-08-17 20:31] marcoscaceres commented on #14
Seems the only thing that broke was the undo.js manager. Could not find any reference to `orient` attribute or to `tooltiptext` in the CSS or JS.

[2015-08-17 21:04] marcoscaceres opened #16 "Message `listener` should be a Map"
It would be nicer is message `listener`of newTab.js was a Map or WeakMap.

[2015-08-17 22:21] marcoscaceres opened #18 "Page.js adds invalid "page-disabled""
Page.js is adding page-disabled attribute, which is invalid. It should used "data-page-disabled" and the HTML5 custom data API.  This would also mean updating  newTab.css.

[2015-08-18 00:00] marcoscaceres opened #19 "drag.js uses non-conforming "dragged" attribute"
As with other non-conforming attributes, those should use the `data-` + HTML Data API.

[2015-08-18 00:03] marcoscaceres opened #20 "Remove redundant calls to document.createElementNS(HTML_NAMESPACE)"
As we are not using XML, we can just:

[code]

[2015-08-18 00:36] marcoscaceres opened #21 "fix all invalid attribute calls in .js files"
customize.js sets a non-conforming "open" attribute. It should use `data-open` instead + HTML data API.

[2015-08-18 00:37] marcoscaceres commented on #21
It also sets `active`.

[2015-08-18 01:41] marcoscaceres commented on #10
did a bunch of these today. Should finish tomorrow. They are in the "legacy" branch.

[2015-08-18 19:50] emtwo commented on #1
Fixed by pull request #8

[2015-08-18 19:50] #1 closed, assigned to nobody

[2015-08-18 19:52] emtwo opened #23 "Make the search bar work"

[2015-08-18 20:44] emtwo opened #24 "Find an alternative to windowID in page.js"

[2015-08-18 20:45] emtwo opened #25 "Implement an alternative to DirectoryLinksProvider.getEnhancedLink() in sites.js"

[2015-08-18 23:54] marcoscaceres opened #26 "Call to Services in js/sites.js"
Should use `new URL()` instead.

Will fix tomorrow.

[2015-08-18 23:56] marcoscaceres opened #27 "while loop is abusing coercion in sites.js"
in sites.js, jshint is complaining about:

The while loop is abusing coercion, making it hard to understand what it is doing... we should rewrite this:

[code]

[2015-08-19 00:08] marcoscaceres opened #28 "Type attribute being overloaded sites.js"
In sites.js, there is code that checks the type attribute. The `type` attribute is a HTML attribute reserved for the MIME type of the link. This could cause problems in the future.

this.node.getAttribute("type");

Should use `data-` instead.

[2015-08-19 19:50] #26 closed, assigned to nobody

[2015-08-19 20:39] #14 closed, assigned to marcoscaceres

[2015-08-19 21:44] marcoscaceres opened #30 "shared-menu-check-active.svg file could be merged."
These files could be merged/sprited using a fragment identifier (cuts down on 3 requests):
- [x] css/images/shared-menu-check-active.svg
- [x] css/images/shared-menu-check-black.svg
- [x] css/images/shared-menu-check-hover.svg

[2015-08-19 21:48] marcoscaceres commented on #10
Closed via #29

[2015-08-19 21:48] #10 closed, assigned to marcoscaceres

[2015-08-19 21:50] marcoscaceres commented on #13
Would anyone object to renaming "newTab.html"  to "index.html"?

[2015-08-19 22:09] oyiptong commented on #13
+1 to index.html

[2015-08-19 22:15] marcoscaceres opened #33 "Png images won't be responsive"
We are missing double density images for the .png files in the `css` directory.  Ideally, we would just have SVGs for these.

[2015-08-19 22:35] marcoscaceres opened #34 "It should be possible to navigate tiles using keyboard."
Right now, one cannot navigate tiles using the keyboard. It would be nice if one could tab around to different tiles or use the arrow keys and press enter to activate them.

[2015-08-20 19:24] #20 closed, assigned to nobody

[2015-08-20 19:24] #2 closed, assigned to nobody

[2015-08-24 20:00] marcoscaceres opened #38 "Investigate security model"
We should investigate and mirror the security model used by:
https://www.mozilla.org/en-US/firefox/37.0/tour/

[2015-08-24 20:02] marcoscaceres opened #39 "Text direction and localized content should be merged"
In the current version of the newTab page, there is a `global.dtd` file that contains the direction of firefox's UI. We should merge that into the data of `newTab.dtd`... doing so will allow us to generate localized pages with a single pass on the server.

[2015-08-24 20:05] oyiptong commented on #38
Looks like the code is here: https://dxr.mozilla.org/mozilla-central/source/browser/components/uitour/

[2015-08-24 20:05] oyiptong commented on #38
err: https://github.com/mozilla/newtab-dev/tree/master/browser/components/uitour

[2015-08-25 00:22] marcoscaceres opened #42 "Loading remote site crashes tab"
To be clear, setting remoteTab.xhtml to:

[code]

Cause:

[code]

And:
![screenshot 2015-08-24 20 38 08](https://cloud.githubusercontent.com/assets/870154/9456015/27dede94-4aa0-11e5-801a-3e9b559139d8.png)

[2015-08-25 20:41] #13 closed, assigned to nobody

[2015-08-26 16:33] marcoscaceres opened #44 "Get rebased js files working"
The site is currently busted because it's missing @sarracini stuff.

[2015-08-26 19:22] #44 closed, assigned to nobody

[2015-08-26 19:40] marcoscaceres opened #47 "ServiceWorker registration failed"
When attempting to register the SW, keep getting:

DOMException [AbortError: "The operation was aborted. "

[2015-08-26 21:35] #18 closed, assigned to nobody

[2015-08-26 21:36] sarracini commented on #19
I'll take this one as well, easy little fix

[2015-08-26 21:41] #30 closed, assigned to nobody

[2015-08-26 21:48] marcoscaceres commented on #19
@sarracini, please feel free to assign yourself to things when you take them.

[2015-08-27 00:30] marcoscaceres opened #48 "WARNING: no preprocessor directives found"
When building (mach build), it seems something has told `python/mozbuild/mozbuild/preprocessor.py` to look for `#include` directives in browser/base/content/newtab/newTab.js.

[2015-08-27 00:32] marcoscaceres commented on #48
(this bug should be in our other repo)

[2015-08-27 00:55] marcoscaceres commented on #47
Fixed via 4a8c533fc08c2e96f9d7e968c145b91fba372640

[2015-08-27 00:55] #47 closed, assigned to nobody

[2015-08-27 17:21] sarracini commented on #21
I noticed it also sets a "selected" attribute. Should we be using `data-selected` as well?

[2015-08-27 18:12] marcoscaceres commented on #21
There are a bunch of these... just grep `removeAttribute`

[2015-08-27 18:13] marcoscaceres commented on #48
Moving to other repo

[2015-08-27 18:13] #48 closed, assigned to nobody

[2015-08-27 18:36] emtwo opened #50 "Generic type enforcement for Rect"
We should throw in Rect whenever any of the values are NaN.

[2015-08-27 18:38] emtwo opened #51 "Rename Rect class to something else"
Since there is already a Rect class on the Window object.

[2015-08-27 18:39] marcoscaceres commented on #51
We should just call it gRect, to match the other ones.

[2015-08-27 18:41] marcoscaceres commented on #21
To directly answer your question, yes :) We should not be adding random attributes or abusing existing ones.

[2015-08-27 19:52] marcoscaceres commented on #51
Will do this one now.

[2015-08-27 19:54] marcoscaceres commented on #50
Can take this too...

[2015-08-28 15:40] marcoscaceres opened #57 "Remove `-moz-` hacks from CSS"
We should try to be a bit more standards complaint. There are also some nasty things in the CSS, like using `display: table-cell`.

[2015-08-28 15:41] marcoscaceres opened #58 "Drop ability to set max rows/columns as a pref"
There is pref for max rows/columns. It seems pretty unlikely, given that it's an about:config pref, that people are actually using that. We should remove that pref as it just adds a bunch of redundant code.

[2015-08-28 15:44] #19 closed, assigned to sarracini

[2015-08-28 18:08] oyiptong opened #61 "remove coveralls submission attempt in local env"
coveralls submissions should only happen during CI, not development

[2015-08-28 18:18] #21 closed, assigned to sarracini

[2015-08-28 18:19] marcoscaceres opened #62 "Does .newtab-site organic need same styles?"
We currently have:

[code]

Does `data-type=organic` need to be included in the above?

[2015-08-31 16:38] sarracini commented on #28
Closing this, since issue #21 fixed all these :smile:

[2015-08-31 16:38] #28 closed, assigned to nobody

[2015-08-31 17:06] sarracini opened #63 ""Restore All" button doesn't update visible page"
If you block a bunch of tiles and then use the restore all button in the undo panel, it doesn't update the current page that we're seeing. You need to open a new tab to see the restored tiles

[2015-08-31 17:13] sarracini opened #64 "Undo'ing a tile gives the title of the tile the url"
If you block a tile, and then undo it, when it comes back instead of having the title extracted from the url, it just has the url. Ex:
Title should be: Mozilla Community
Title actually is: contribute.mozilla.org
After you open a new tab, it gets reset to Mozilla Community.

[2015-08-31 17:14] sarracini commented on #62
TIL: tiles can be of type sponsored + suggested, enhanced + suggested, OR organic + suggested. So yes!

[2015-09-03 16:47] #50 closed, assigned to marcoscaceres

[2015-09-08 15:58] marcoscaceres opened #67 "Draggin is busted"
Dragging and dropping tiles is busted

[2015-09-08 15:59] marcoscaceres commented on #42
WFM now that we've fixed message passing.

[2015-09-08 15:59] #42 closed, assigned to nobody

[2015-09-08 16:01] marcoscaceres opened #68 "Loading a web page should update tiles"
Currently, if the user opens a new URL, the new tab page is not being updated (when the new tab page is open). The new tile only shows up only if the user opens another new tab page.

[2015-09-08 16:01] marcoscaceres opened #69 "Clicking on links is busted"
It's right now not possible to press on a link :+1:

[2015-09-08 16:02] marcoscaceres opened #70 "User's tiles should come first"
Right now, the directory tiles are showing up before the user's tiles. The user's tiles should come first.

[2015-09-08 17:03] marcoscaceres opened #71 "CacheTask's hasCacheEntry method should use caches.matches()"
Make `hasCacheEntry` to use caches.matches() instead. That would make the cache name optional.

[2015-09-08 18:13] #69 closed, assigned to nobody

[2015-09-08 22:50] marcoscaceres opened #73 "link.dataset.title = tooltip; is wrong"
in sites.js, this:

[code]

Should just be:

[code]

[2015-09-09 14:50] oyiptong opened #75 "Fix newly introduced code correctness issues"
Because going to remotely hosted introduces new subtleties, the assumptions in the code have changed.

This bug is to fix some of the issues introduced over the last few merges

[2015-09-09 15:07] oyiptong commented on #75
Problem examples:

# sites.js

For instance, in:
https://github.com/mozilla/remote-newtab/blob/371d680da8b55e752b9d9c5740baecd7ccb6e2bc/js/sites.js#L203

`enhanced` was a confusing use of short-circuiting that would evaluate to either a link or to `false`:

https://dxr.mozilla.org/mozilla-central/rev/01ae99b53561a2c3b40533d8c1c92bd3efc42d00/browser/base/content/newtab/sites.js#165

We should get r

[2015-09-09 15:59] oyiptong commented on #75
note: this could be fixed in #66

But this issue is to track whether or not there are similar issues. In which case, we'd have a partial fix in #66

[2015-09-10 18:34] marcoscaceres opened #77 "Invalid HTML"
More invalid HTML+CSS

[code]

[2015-09-10 18:49] #67 closed, assigned to nobody

[2015-09-11 15:11] #51 closed, assigned to marcoscaceres

[2015-09-16 17:43] marcoscaceres opened #79 "sendToBrowser() should only send strings."
@oyiptong and I talked with Bobby Holly yesterday. He suggested that, for security reasons, we should only be sending strings up with sendToBrowser() (i.e., JSON.stringify).

Then, for the event handler, we should ignore any `type ev.data !== 'string'`. If the type is string, then we can JSON.parse(ev.data);

[2015-09-21 04:09] #24 closed, assigned to nobody

[2015-09-21 15:53] sarracini commented on #73
This issue was fixed when issue #78 was merged in, can we close this?

[2015-09-21 15:55] sarracini commented on #62
this was fixed in #65 ... we can close this too

[2015-09-21 15:55] #62 closed, assigned to sarracini

[2015-09-22 18:55] marcoscaceres opened #83 "newTab.js, line 122: TypeError: this is undefined"
Marcos broke stuff...

[2015-09-22 19:11] #5 closed, assigned to nobody

[2015-09-22 23:02] #73 closed, assigned to nobody

[2015-09-22 23:20] #83 closed, assigned to nobody

[2015-09-23 21:05] marcoscaceres opened #85 "Make a suitable fallback for first load."
If the browser is started offline, and there is no SW registered, we should be able to show a fallback page.

[2015-09-23 22:25] marcoscaceres opened #87 "Opening/reloading new tab cause images to flicker"
Images flicker like crazy when reloading the page. Only SW images appear to be affected.

[2015-09-23 22:31] marcoscaceres commented on #87
Need to profile:
https://developer.mozilla.org/en-US/docs/Performance/Profiling_with_the_Built-in_Profiler

[2015-09-24 15:11] marcoscaceres opened #88 "Drop pinning..."
Pinning is confusing and seems pretty useless. Can we get some numbers to see if anyone actually uses it?

[2015-09-24 15:22] oyiptong commented on #88
It isn't used much. It is used much less than clicks. However, we don't want to drop it just yet.

We want the functionality to be 1:1 at first, then we switch things up

[2015-09-24 15:23] oyiptong commented on #88
[code]

[2015-09-24 17:38] marcoscaceres commented on #88
Sure, this would be a v2 thing.

[2015-09-24 22:12] marcoscaceres opened #89 "Make addon to allow development"
We need a plugin that does this:

[code]

If it's a plugin, it must be possible to install it automatically on a fresh profile.

[2015-09-24 22:13] marcoscaceres commented on #89
Otherwise, we should have a pref that does the above. It's not great at the moment that we have to do the above any time we want to do development on the remote-newtab repo.

[2015-09-28 18:10] marcoscaceres opened #92 "Fix up SW tests..."
When running from Karma, the SW sometimes has issues... Ben Kelly said this might help:

[2015-09-28 21:05] marcoscaceres opened #93 "close.png might not be used"
It seems that close.png might not be used anywhere... need to confirm tho.

[2015-09-29 22:32] marcoscaceres opened #94 "Make image caching work for Directory Tiles"
Right now, only the user's tiles are offline. It should be possible to also offline the Directory Tiles in the SW.

[2015-10-06 22:51] #23 closed, assigned to nobody

[2015-10-06 22:59] #79 closed, assigned to marcoscaceres

[2015-10-07 19:45] marcoscaceres commented on #38
Most of the solution:
https://bugzilla.mozilla.org/show_bug.cgi?id=1204983

[2015-10-07 19:45] marcoscaceres commented on #38
We still need to look at certificate pinning.

[2015-10-08 16:39] marcoscaceres opened #100 "Make full use of IDB"
Right now, we are just storing strings in the IDB. In the future, we should make full use of the IDB.

[2015-10-09 23:42] marcoscaceres opened #102 "Make more robust `ensureResponse` for images"
In the SW, we need to make sure `ensureResponse` is more robust. In particular, it needs to return a placeholder image.

[2015-10-10 00:08] marcoscaceres commented on #93
It's used.

[2015-10-10 00:08] #93 closed, assigned to nobody

[2015-10-13 15:57] sarracini opened #104 "Customize panel doesn't update page"
The customize panel was using messages to update the page, but now it's busted

[2015-10-13 15:59] marcoscaceres commented on #104
This includes fixing the UI triangle thing.

[2015-10-13 19:10] #94 closed, assigned to nobody

[2015-10-13 19:52] marcoscaceres opened #106 "Unessasary message passing with Service Worker"
Right now, we do unnecessary IPC with service worker for saving page thumbs. We can write directly to the cache API from the page.

[2015-10-13 20:02] marcoscaceres commented on #92
WFM, so closing this. We can implement the above if SW starts misbehaving.

[2015-10-13 20:02] #92 closed, assigned to nobody

[2015-10-21 17:03] marcoscaceres opened #114 "locale/newTab.js should be an JSON file"
we should load newTab.js strings as needed, using fetch as XML.

[2015-10-22 17:41] marcoscaceres opened #119 "Drop cachetask strategies in favor of HTTP cache semantics"
The strategy stuff in cachetasks is horrible. Let's drop it.

[2015-10-22 19:39] marcoscaceres opened #120 "CacheTasks needs its own tests"
Previously, we were testing cachetasks.js indirectly via service workers. However, it is possible to directly test this API in a non-worker environment.

[2015-10-22 22:46] mzhilyaev commented on #70
Marcos,

it could be because tiles get default frecency of 1000, while if you just click a link on a page the page downloaded get frecency 100.  So, it takes a long while before directory tiles get pushed down by mature history.   I am not sure if this relates to remote-newtab anymore, but that's exactly what's going on in the old newtab

[2015-10-22 22:49] mzhilyaev commented on #88
Regular pins are OK, but pinning because of a drag/drop is a royal pain in the ....  (you know where).
If you have an exact behavior that you want to fix, I can definitely look.

[2015-10-22 22:53] mzhilyaev commented on #89
Interesting,  I recall adding such pref in one of my early patches to be used with app-cache.
I believe it was removed for security reasons.  I definitely can work on this bug.

[2015-10-23 16:07] marcoscaceres commented on #70
Hey, sorry if you got a blank reply to this... Mail.app screwed up. Unfortunately, I won't be able to today or next week. I'm moving to Australia next week and flying back to Toronto today from NOLA. However, Olivier has kindly agreed to walk you through it. Otherwise, week after next I would be happy to give you an overview of the new stuff.

Sent from my iPhone

[2015-10-23 17:04] marcoscaceres commented on #89
Would be great, Max! 

On October 22, 2015 at 5:53:30 PM, mzhilyaev (notifications@github.com) wrote:

[2015-10-23 17:08] mzhilyaev commented on #89
but i can't get the browser to talk to my local http server for some
reason.
does it have to be https?

On Fri, Oct 23, 2015 at 10:04 AM, Marcos Caceres notifications@github.com
wrote:

[2015-10-23 20:51] marcoscaceres commented on #89
Http is fine, so long as it is "localhost" or "127.0.0.1"

Sent from my iPhone

[2015-10-23 23:37] marcoscaceres commented on #88
@mzhilyaev, we want to work with the products folks to hopefully drop the feature entirely. We need some definitive data to show that pinning is rarely used.

[2015-10-24 01:19] mzhilyaev commented on #88
that would be good, but don't we want 1-1 parity?

On Fri, Oct 23, 2015 at 4:37 PM, Marcos Caceres notifications@github.com
wrote:

[2015-10-24 01:57] marcoscaceres commented on #88
On October 23, 2015 at 9:19:13 PM, mzhilyaev (notifications@github.com) wrote:

Yep. Note that some things are labelled "V2". Anything not labelled V2 is for parity. 

[2015-10-28 04:02] oyiptong opened #123 "Message windows instead of sending NewTab:UpdateGrid to browser"
We are removing the messages to the browser.

We need messages to all newtab windows

[2015-10-28 14:32] oyiptong commented on #89
changing the title to addon. we most definitely don't want a pref, see [bug 1118285](https://bugzilla.mozilla.org/show_bug.cgi?id=1118285)

[2015-10-30 17:53] oyiptong opened #126 "Implement localization + automation"
- [x] Obtain the 104 language files from the l10n and generate language files
- [x] Create automation for the building of the l10n-aware distributions
- [ ] Create import structure for files so we don't produce too many artifacts for deployment

[2015-10-31 04:22] oyiptong opened #127 "remote newtab thumbnails different from non-remote"
Thumbnails from remote newtab are different from non-remote:

<img width="1552" alt="screen shot 2015-10-31 at 12 21 06 am" src="https://cloud.githubusercontent.com/assets/9365/10861829/7124ed42-7f65-11e5-8325-99be5375c69e.png">
<img width="1552" alt="screen shot 2015-10-31 at 12 21 10 am" src="https://cloud.githubusercontent.com/assets/9365/10861830/736f84e0-7f65-11e5-9e7b-a93a6dbfb299.png">

[2015-10-31 13:49] marcoscaceres opened #128 "Add Service-Worker-Allowed HTTP header to CDN"
The CDN needs to make sure it allows sw.js to be loaded from the `js` folder by declaring the "Service-Worker-Allowed:" HTTP header.

[2015-11-02 05:19] marcoscaceres commented on #70
Ah, makes sense... Yes, on refresh, the tile gets moved to the appropriate spot.

Closing a WFM.

[2015-11-02 05:19] #70 closed, assigned to nobody

[2015-11-02 07:33] marcoscaceres commented on #128
To be clear, the header needs to be on the sw.js file, and the value of the header needs to be:

[code]

[2015-11-02 08:16] marcoscaceres commented on #114
Loosely depends on:
https://github.com/whatwg/fetch/issues/151

[2015-11-02 08:57] marcoscaceres commented on #114
Can do:

[code]

[2015-11-02 09:07] marcoscaceres commented on #71
For lookups relying on matches, then using the cache's API directly seems best. This is because CacheTasks only provides a bit of efficiency with using pre-opened caches, but not much else.

[2015-11-02 09:07] #71 closed, assigned to nobody

[2015-11-02 16:14] oyiptong commented on #114
Any reason why we want locale/newTab.js as XML?
We can make it JSON.

If we re-use the XML as-is currently, there is a need for 2 requests: the xml and the DTD which actually contains the text:

http://mxr.mozilla.org/l10n-central/source/en-GB/browser/chrome/browser/newTab.dtd
http://mxr.mozilla.org/l10n-central/source/en-GB/browser/chrome/browser/newTab.properties

There is also no locale XML for

[2015-11-02 16:20] oyiptong commented on #128
got it

[2015-11-02 16:52] oyiptong commented on #128
Added in quick-and-dirty deploy automation:

https://github.com/oyiptong/qnd-rnt-automation/commit/d54c4596a37c5cd8bd8559061d34b7044b4c8b1e

[2015-11-02 16:53] oyiptong commented on #128
note: we expect the Service Worker files to end with sw.js

[2015-11-02 19:11] marcoscaceres commented on #114
(Note, this is a v2 thing)

Yeah, the currently used format is pretty awful.

[2015-11-02 19:14] marcoscaceres commented on #128
Fancy Python is fancy!

Sent from my iPhone

[2015-11-02 19:15] marcoscaceres commented on #128
I thinks that's a very reasonable assumption:+1:

Sent from my iPhone

[2015-11-02 19:38] oyiptong commented on #128
hmm S3 doesn't let us use that header yet:

http://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html

[2015-11-02 19:44] oyiptong commented on #128
sadness... looks like we'll have to stick with sw.js being co-located with the html file

[2015-11-02 19:52] marcoscaceres commented on #128
Sad😢 ok, I'll move those commits to another branch for when they add it.

Sent from my iPhone

[2015-11-02 19:54] oyiptong commented on #128
it looks like our CDN supports custom headers, however:

http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/RequestAndResponseBehaviorCustomOrigin.html#RequestCustomRemovedHeaders

We can move off of S3 if we wanted to.

[2015-11-02 19:57] oyiptong commented on #128
We can make that a v2 bug. We'd handle the serving of the files on our own.
And Cloudfront would pick up the headers

[2015-11-02 20:04] oyiptong commented on #128
Google Cloud Storage also doesn't seem to support custom headers:
https://cloud.google.com/storage/docs/reference-headers

I can't really figure out Azure Object Storage.

Worse comes to worse, we have our own instance of Nginx serving static files. It will be cheap.

[2015-11-02 20:52] oyiptong commented on #128
Rackspace also doesn't allow for custom headers:

https://developer.rackspace.com/docs/cloud-files/v1/developer-guide/#document-general-api-info/response-codes

[2015-11-02 23:11] oyiptong opened #133 "Implement SRI"
Implement Subresource Integrity for the index.html and subsequent pages

[2015-11-02 23:17] oyiptong commented on #133
here's @dougt's contribution for a build-step that adds the relevant bits to our compiled pages:

[code]

[2015-11-02 23:32] #106 closed, assigned to nobody

[2015-11-02 23:32] #120 closed, assigned to nobody

[2015-11-03 05:03] marcoscaceres opened #134 "Figure out how service worker updates actually work"
@oyiptong pointed out that if updating the SW fires an "install" event, then all our thumbs will get trashed (I have no idea what happens ATM, need to do more reading about how it works).

From a quick scan, it appears that that is the case. If so, we need to change the logic so that we do a soft update of things in the appropriate cache as needed (e.g., try to re-request files that might have exp

[2015-11-03 05:05] marcoscaceres commented on #133
@dougt, yeah, something like that would be great.

[2015-11-03 09:29] marcoscaceres commented on #4
Duplicate of #126

[2015-11-03 09:29] #4 closed, assigned to marcoscaceres

[2015-11-03 22:04] #127 closed, assigned to nobody

[2015-11-04 00:38] #119 closed, assigned to nobody

[2015-11-05 00:33] marcoscaceres commented on #126
I've added support for verifying the l10n data. There are [significant gaps](https://gist.github.com/marcoscaceres/4c0e4a360cb8a44ea900), which I'm plugging with en-US content.

Unfortunately, it won't be possible to do "lookup" to fill the gaps, because only like 2 locales provide such an ability. That's ok tho. We can just file bugs for everything and see if the localizers can find people to fil

[2015-11-05 03:38] marcoscaceres commented on #126
The following files are 404:
- http://mxr.mozilla.org/l10n-central/source/st/browser/chrome/browser/newTab.dtd?raw=1
- http://mxr.mozilla.org/l10n-central/source/nr/browser/chrome/browser/newTab.dtd?raw=1
- http://mxr.mozilla.org/l10n-central/source/nr/browser/chrome/browser/newTab.properties?raw=1
- http://mxr.mozilla.org/l10n-central/source/ts/browser/chrome/browser/newTab.dtd?raw=1
- http://mxr

[2015-11-05 15:00] oyiptong commented on #126
boo. we could also procure the raw .lang files. it would be just a tiny bit more work than parsing the xml

edit: I spoke to l10n'ers and it looks like they have localizations coming from various sources. the source of truth should be those xml+dtd files

[2015-11-05 15:03] oyiptong commented on #126
actually
instead of trying to obtain them from mxr
why not obtain them from hg?

[2015-11-05 15:06] oyiptong commented on #126
spoke to Aryx and Pike on irc.

Here's where we should get the localizations: http://hg.mozilla.org/releases/l10n/mozilla-aurora

Apparently, localizers prefer to work on Aurora. Presumably because nightly code changes too much.

[2015-11-05 15:17] oyiptong commented on #126
To be more precise, the list of shipping localizations is here:
https://hg.mozilla.org/releases/mozilla-aurora/raw-file/tip/browser/locales/shipped-locales

Based on those localizations, we can construct HTTP fetches based on this URL structure:

For en-US:

https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/locales/en-US/chrome/browser/newTab.dtd
https://hg.mozilla.org/mozilla-central/ra

[2015-11-05 15:46] oyiptong commented on #126
checking it out a couple of cases:

locale "st" is missing from https://hg.mozilla.org/releases/mozilla-aurora/raw-file/tip/browser/locales/shipped-locales, therefore shouldn't have a corresponding l10n.

from https://gist.github.com/marcoscaceres/4c0e4a360cb8a44ea900#file-l10n_gaps-log-L10-L69, which was missing from mxr:

[code]

[2015-11-05 16:58] oyiptong opened #137 "handle pinned message from browser"
the browser will start sending change notifications for the pinned pref. we need to handle this because it may be triggered when the browser syncs

[2015-11-12 12:55] marcoscaceres opened #142 "test should not live in the src directory"
Tests should not live in the :file_folder:src directory... only source files that are going to be transformed should live there.

[2015-11-17 16:29] #104 closed, assigned to sarracini

[2015-11-24 17:40] oyiptong opened #148 "Add CSP settings"
Set CSP in the header as a meta tag.

Here's the meta tag to base off of:

[code]

Where `origin` is obtained from some configuration. For dev: `localhost` most probably, and for deployment targets, their origins.

[2015-11-24 21:45] marcoscaceres commented on #148
Any reason to use a meta instead of a HTTP header? Lack of CDN support?

Sent from my iPhone

[2015-11-25 15:01] oyiptong opened #149 "Create signature generation automation for server-side deployment"
The deployment plan is to have an nginx server running lua serve the pages.

Some deployment automation will generate the html page signatures, and provide them to nginx via a custom S3 header, `x-aws-content-signature`.

Nginx will then serve the html pages, with the page signatures as the `Content-Signature` header, as detailed in #150.

The algorithm used for signing is ECDSA. This library does

[2015-11-25 15:04] oyiptong opened #150 "Write nginx key finding/serving rule"
We are going to use nginx/openresty to serve html pages with signatures.

The content will be uploaded to S3, along with an `x-amz-content-signature` header.
The openresty code will strip out this header if it exists and serve a `Content-Signature` header instead

[2015-11-25 15:08] oyiptong commented on #149
Since we don't want developers to have a the private key on their machines, this is about writing the server-side code that will:
1. receive a request to deploy code
2. generate the signature for each index.html page (or pages that need signatures)
3. upload the pages to S3, with the `x-aws-content-signature` custom header

[2015-11-25 15:13] oyiptong commented on #149
@mostlygeek: let's use this page to talk about this

@franziskuskiefer is working on content-signature verification and key storage on the Firefox side of things. He said he might want to help on the server-side as well.

[2015-11-25 17:59] mostlygeek commented on #149
The last time we talked it was about S3 not being able to serve the header (`Content-Signature`) since we can't specify arbitrary HTTP response headers. With S3 since all custom metadata is prefixed with `x-amz-meta-`, we discussed using nginx to look for that header and rewrite it with lua.

nginx would essentially be a smart(ish) proxy between S3 and the CDN. The request path would be:

`firefox

[2015-11-25 19:09] oyiptong commented on #149
Yes that is correct.

In addition to the proxy, we need a small-ish server that upon receiving a deployment request, will create signatures. We don't want the private keys to be on developers' laptops.

[2015-11-25 19:27] mostlygeek commented on #149
Can we make two separate issues to deal with them? One for serving the content (this one) and one for signing+publishing the content.

[2015-11-25 19:29] oyiptong commented on #149
This is for signing + publishing, #150 is for serving.

[2015-11-26 14:18] franziskuskiefer commented on #148
@marcoscaceres If we want to control the CSP we have to use meta.The header is controlled by the CDN (which is untrusted in this case).

[2015-11-26 14:22] franziskuskiefer commented on #133
@oyiptong I think we should use at least sha384 here

[2015-11-26 14:37] oyiptong commented on #133
excellent. sha384 it is then.

[2015-11-26 17:06] franziskuskiefer commented on #149
I think I'm a bit uneasy with using a random python library for signing. So I'd suggest using some simple openssl commands instead (I'm rewriting my test server to use the same logic as well). We can do something like:

[code]

to generate a key and the signature (note that the html file must contain the Content-Encryption\00 prefix). The resulting signature has to be converted to urlsafe base64 a

[2015-11-27 17:49] mostlygeek commented on #149
We use centos7 in production. Though if you guys ship it in a docker container you can use whichever version of OpenSSL is appropriate.

[2015-11-27 18:10] mostlygeek commented on #150
If the contents are HTML, CSS, JS we should also have openresty deflate (gzip) it. Then the compressed assets can be served via the CDN.

[2015-11-29 19:10] Mathnerd314 commented on #58
I'm using it. Please don't drop it!

[2015-11-29 19:54] marcoscaceres commented on #58
I think we will only keep it if we find, say, 1,00,000 people using it (that's still less than 1% of users).  It's a maintenance nightmare, causes a lot of bugs, and generally screws up all the css.

Sent from my iPhone

[2015-11-29 20:35] oyiptong commented on #58
@Mathnerd314, I'm curious, how do you use these prefs?

[2015-11-30 00:48] mzhilyaev commented on #58
FYI, we can run telemetry experiment and find a number of people in beta that have this pref different from default.  That should give us an idea of how popular this pref is.
@marcoscaceres  - did  "1,00,000 people"  mean 1M or 100K of users?

[2015-11-30 00:55] oyiptong commented on #58
I think he means 1,000,000 given the percentage of total users (< 1%)

[2015-11-30 01:23] marcoscaceres commented on #58
I'd even go for 3500. 0.001%.

[2015-11-30 08:53] Mathnerd314 commented on #58
@oyiptong I set the prefs to 5x10 and have a [user style](https://userstyles.org/styles/95775/new-tab-full-screen) that turns the new-tab page into a tile mosaic.

Please do run the telemetry experiment (although a [UX study](http://link.springer.com/article/10.1007/s11257-011-9118-4) would work too).
![dust-speck](http://assets.amuniversal.com/934a0880df960131725e005056a9545d)

[2015-11-30 13:40] franziskuskiefer commented on #149
I just updated the server in bugzilla, which can be used as follows:
- create a prefix file to prepend to every html file before signing with content "Content-Encryption:\x00"
- prepend the file to every file you sign (RemoteNewTab.html here)
  - `paste prefix RemoteNewTab.html > RemoteNewTab.html.tosign`
- do crypto magic with openssl
  - `openssl ecparam -name secp384r1 -genkey -out sk.pem`
  -

[2015-11-30 15:24] jvehent commented on #150
That depends on how firefox will verify the signature. If the verification is done prior to gunzipping the file, then gzip will break the signature.

[2015-11-30 19:20] oyiptong commented on #150
@franziskuskiefer may be able to clarify here. He said today that we do verify the signature after gunzipping.

[2015-12-01 04:40] marcoscaceres commented on #58
@Mathnerd314, but are you actually replacing the tiles? Would be interested in seeing your user style. Are you also rewriting the URLs for each of the tiles somehow? If possible, would really like to see a screenshot - even if pixelated with a bit more info.

[2015-12-01 12:53] franziskuskiefer commented on #150
I'm still waiting for feedback from necko folks if I'm doing things right, but currently I'm reading buffering the channel in nsHttpChannel where I get the uncompressed page for verification. I don't think we should sign/verify the zipped version.

[2015-12-01 12:59] jvehent commented on #150
That probably makes more sense from a publication standpoint as well: sign the original document, then pass it to s3/nginx where it can be compressed before transport.

[2015-12-01 18:08] wanderview opened #151 "avoid cache.add() and cache.addAll() for remote resources"
FYI, there is a footgun in cache.addAll().  If the remote server response with a 501 it will still go into the cache.

I recommend replacing these calls with explicit fetch(), response.ok() check, and cache.put().

Note, if you are dealing with any opaque responses, though, there is no way to tell if you actually got an ok response or not.  Because security.

[2015-12-01 18:15] wanderview opened #152 "double check http cache interactions with SW"
Please see this long twitter thread about some gotchas with the SW cache interacting with the http cache:

  https://twitter.com/jeffposnick/status/671451613224001538

I'm not sure these apply here, but I wanted to make sure you guys were aware of it.

[2015-12-01 21:06] marcoscaceres commented on #152
Yeah, saw that. Was hoping to chat with you in Orlando about this and the overall design.

Sent from my iPhone

[2015-12-01 21:19] marcoscaceres commented on #151
Yeah, I had also realized that. It basically subverts my whole cache tasks thing I made because there is no cache control checks:( will fix as you suggest below.

Agree.

I think we should be mostly ok... Though this might affect the Ads Provider because those image responses are coming from a CDN.

[2015-12-01 21:25] wanderview commented on #151
For no-cors cross-origin stuff you may want to do network-first and always update cache with network result to mitigate any bad values that get stored for opaque responses.

[2015-12-01 23:46] Mathnerd314 commented on #58
Here's a recent screenshot:
<img width="100px" src="http://i.imgur.com/deh3Wis.png">
The empty spaces are from blocking a lot of sites; normally it's full or has 1-2 empty spaces. The CSS is [here](https://userstyles.org/styles/95775.css?ik-h=10%25&ik-w=20%25). There is no URL rewriting or replacing tiles, it's pure CSS (and the row/column prefs).

[2015-12-02 00:34] marcoscaceres commented on #58
@Mathnerd314, that's great! thank you!

Question for you: if we removed setting the rows and columns, could you override that again in the CSS with flex box in your user style? It looks like being unrestricted would give you much more flexibility to achieve the layout you currently have.

[2015-12-02 02:19] Mathnerd314 commented on #58
Not currently; the code uses the prefs, unaltered, as the maximum number of cells: https://github.com/mozilla/remote-newtab/blob/gh-pages/src/js/grid.js#L140
If you rewrote it so that it used the [available space](https://github.com/mozilla/remote-newtab/blob/gh-pages/src/js/grid.js#L247) to determine how many cells to make, I think that would work.

[2015-12-02 02:31] marcoscaceres commented on #58
@Mathnerd314 that would be the plan :+1: We might ping you to coordinate and make sure it works for your use case. Note that nothing will change for a while (I'd say, around 6-12 months).

[2015-12-02 05:32] oyiptong commented on #58
@Mathnerd314 do you use a nightly build?

[2015-12-02 18:42] Mathnerd314 commented on #58
I use [my distro's package](https://github.com/NixOS/nixpkgs/blob/86ba275a99908a30f5139d5e605d0ac1f5d3ea7b/pkgs/applications/networking/browsers/firefox/default.nix). It's branded as nightly, but it's built from the 42.0 release. I'd use the developer edition (Aurora) if it was packaged, but it's not at present.

[2015-12-09 19:56] marcoscaceres opened #153 "Drop ads cache"
We don't need the ads stuff anymore.

[2015-12-11 16:19] marcoscaceres opened #154 "make sure images are all served with crossorigin attribute"
Images coming from the CDN need to explicitly marked as CORS... or else they are going to be opaque responses and we are going to have a bad time.

[2016-01-07 20:17] k88hudson opened #159 "Move static files to src/static"
This will make it easier to build out/copy the entire directory during localization etc.

[2016-01-07 20:41] k88hudson opened #162 "React Localization"
I think it would be preferable to use https://github.com/yahoo/react-intl since it hooks into the browser's native [Intl](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Intl) stuff and isn't too big. Alternatively, we could use a redux store, but I think this is fine.

Past work in https://github.com/mozilla/remote-newtab/issues/114

cc @sarracini

[2016-01-07 20:47] k88hudson opened #163 "Prerender react for each locale"
We can use [ReactDOMServer](https://facebook.github.io/react/docs/top-level-api.html#reactdomserver) to create pre-rendered versions of newtab for each locale. Essentially this would mean
- Write script that injects the right locale/messages into the root react element and uses `ReactDOMServer.renderToString` to output raw html
- concatenate an html header/footer (i.e. what's in index.html now)
-

[2016-01-07 21:00] k88hudson opened #164 "fix lint, jscs errors"
Right now this repo uses jshint whereas the new react code uses eslint with a different ruleset.

Personally I don't really mind what we end up with in the end -- I think it probably makes sense to adopt the eslint rules defined in mozilla-central to maintain consistency with frontend Firefox code, but I'm open to using the jshint rules if the rest of the team prefers them (with some additions for

[2016-01-07 21:19] sarracini commented on #162
I agree with using something other than a redux store, since the strings never change once they're set and never change 'state', it seems unnecessary to use a store for them.
The react-intl looks pretty good. Can we cache the strings and then just retrieve them in react's view?

[2016-01-08 16:07] k88hudson opened #166 "Make platform, platform fixtures development only"
The web shims in `lib/platform` and `lib/platform-placeholder` should only be included in the bundle if `DEVELOPMENT` is true in our configuration object

This should be as simple as

[code]

And webpack's production optimization process will remove the unused code.

[2016-01-08 17:41] k88hudson opened #167 "Add better error handling in actions"
Right now if actions resolve with errors nothing is actually set in state/no errors are displayed; we should handle these better. Not sure what the current UX is for this in the new tab page

[2016-01-08 17:56] k88hudson commented on #159
Resolved by #161

[2016-01-08 17:56] #159 closed, assigned to k88hudson

[2016-01-08 18:04] k88hudson commented on #162
@sarracini yep, since we have to prerender a page for each locale anyway (see https://github.com/mozilla/remote-newtab/issues/163) we could just render them into the page as a global. We could use fetch it at runtime, but that add a request and complicate the serviceworker configuration a bit

[2016-01-08 18:09] rlr commented on #153
I didnt do anything for ads in the new service worker, so I think this is no longer an issue.

[2016-01-08 18:09] #153 closed, assigned to nobody

[2016-01-08 18:10] rlr commented on #151
As @wanderview suggested, I kept `cache.addAll()` but changed every fetch to go to network before cache. Closing.

[2016-01-08 18:10] #151 closed, assigned to nobody

[2016-01-08 18:16] k88hudson opened #168 "Make code coverage more accurate"
Right now because of the way the tests are instrumented only files that are required in tests are included in the coverage report :see_no_evil:

This can be fixed by iterating all files in whatever directories and requiring them in `tests/index`

:sob:

[2016-01-08 18:31] k88hudson commented on #142
This is now resolved on the develop branch :+1:

[2016-01-08 18:31] #142 closed, assigned to nobody

[2016-01-08 18:32] k88hudson commented on #77
Resolved by develop branch

[2016-01-08 18:32] #77 closed, assigned to nobody

[2016-01-08 18:33] k88hudson commented on #137
Since we are removing pinning this is no longer needed

[2016-01-08 18:33] #137 closed, assigned to nobody

[2016-01-08 18:34] k88hudson commented on #163
See https://github.com/mozilla/remote-newtab/issues/126 for past work

[2016-01-08 18:34] k88hudson commented on #126
Moving to new ticket

[2016-01-08 18:34] #126 closed, assigned to marcoscaceres

[2016-01-08 18:35] k88hudson commented on #123
No longer relevant to new strategy

[2016-01-08 18:35] #123 closed, assigned to nobody

[2016-01-08 18:35] #114 closed, assigned to nobody

[2016-01-08 18:52] k88hudson opened #169 "Develop => master, master => release"
Hey @mozilla/newtab-eng after discussing with @oyiptong we have decided to merge the `develop` branch into `master`, and have copy `master` to a `release` branch. Sorry for all the confusion
![](https://media.giphy.com/media/l6mxLLvfadIQw/giphy.gif)

[2016-01-08 19:00] #169 closed, assigned to nobody

[2016-01-08 19:02] k88hudson commented on #57
:dancer:

[2016-01-08 19:02] #57 closed, assigned to nobody

[2016-01-08 19:09] #100 closed, assigned to nobody

[2016-01-08 19:10] k88hudson commented on #64
Closing, filing a new ticket for blocking

[2016-01-08 19:10] #64 closed, assigned to nobody

[2016-01-08 19:12] k88hudson opened #170 "Add tile blocking"
We need to restore tile blocking in the new version. @emtwo you mentioned you wanted to take this, do you have time to do it?

[2016-01-08 19:13] #33 closed, assigned to nobody

[2016-01-08 19:17] k88hudson opened #171 "Review and improve images"
All images:
- [x] should match existing Firefox new tab page
- [x] should be svg where possible (i.e. except from the search api response)
- [x] if they are png, should look sharp on 2x pixel density screens
- [x] if they function as icons, should have screen-reader alternative text (localized where possible)

[2016-01-08 19:17] #75 closed, assigned to nobody

[2016-01-08 19:18] #27 closed, assigned to nobody

[2016-01-08 19:18] #25 closed, assigned to nobody

[2016-01-08 19:18] #16 closed, assigned to nobody

[2016-01-08 19:19] k88hudson commented on #34
This works now! yay!

[2016-01-08 19:19] #34 closed, assigned to nobody

[2016-01-08 19:22] k88hudson commented on #88
:dancer:

[2016-01-08 19:22] #88 closed, assigned to nobody

[2016-01-08 19:23] k88hudson commented on #89
Is this still being worked on?

[2016-01-08 19:27] k88hudson opened #172 "Fix position of tiles"
Right now there is some weirdness in the position calculations for the tile css, something is a bit off

[2016-01-08 20:00] oyiptong commented on #89
we do want an addon, and we can do it as soon as https://bugzilla.mozilla.org/show_bug.cgi?id=1218996 lands.

Basically, due to being a prime hijacking target, we can't put the newtab URL in a pref.

We can override it at runtime... or in the source. Doing it at runtime can be done manually, or via an add-on. The add-on would make our lives easier. Shouldn't be hard to write.

[2016-01-08 20:03] rlr commented on #89
If your addon can override it at runtime, then any other addon can too. Right?

So then we are back to the same issue of the pref.

[2016-01-08 20:05] oyiptong commented on #89
But the security profile is different. Installing an addon is not the same as someone being socially engineered (which is the reason why this is no longer a pref). The full glory: https://bugzilla.mozilla.org/show_bug.cgi?id=1118285

[2016-01-08 20:06] oyiptong commented on #89
Also, keep in mind that for testing messages, it's going to be via a pref. This is only for testing the page itself, and probably only used for automated tests.

For testing privileged API's, we're going to allow them on localhost with the use of a pref.

[2016-01-08 20:24] rlr commented on #89
Fair enough. I was assuming it was malicious addons that were changing the pref.

[2016-01-08 21:19] oyiptong commented on #89
if someone has been able to install an addon, the user is already pretty screwed heh, you are correct

[2016-01-11 18:44] k88hudson opened #176 "Missing strings for search"
- `"Change search engine"`
- `"Search with ${engine}"`

I think these were passed as html elements before.
We should either pass these strings through the search api, or pull down the locale file for search

[2016-01-12 17:57] #61 closed, assigned to nobody

[2016-01-12 19:36] #164 closed, assigned to nobody

[2016-01-12 21:39] k88hudson opened #179 "Do accessibility review"
Bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1194236
- Look at or just inspect current new tab page
- Make sure we have the same accessibility features
- use the `.sr-only`(screen-reader only) class if needed, see main.scss

[2016-01-12 21:48] k88hudson opened #180 "Allow service workers to be optional"
We may want to have an option to turn off service workers for the offline fallback case. See https://bugzilla.mozilla.org/show_bug.cgi?id=1215613

[2016-01-12 22:03] k88hudson commented on #167
We also discussed:
- Adding timeouts in response is never received
- Have a retry count

We should have some kind of abstraction/common function for all actions that send requests and expect responses

[2016-01-15 19:21] k88hudson commented on #171
@sarracini .sr-only has landed now

[2016-01-19 20:21] sarracini commented on #39
While we're at it, the remote page needs to be rtl friendly, which it isn't right now so I'll also be doing that as well

[2016-01-19 21:40] sarracini commented on #176
list of search strings that we need to pull down:
- `searchPlaceholder = "Search"`
- `searchHeader = "%S Search"`
- `searchForSomethingWith =  "Search for <span class='contentSearchSearchWithHeaderSearchText'></span> with:"`
- `searchWithHeader = "Search with:"`
- `searchSettings = "Change Search Settings"`

Since we're not doing the api stuff anymore, these can be received through the message pas

[2016-01-20 15:20] sarracini commented on #176
Actually thinking about this now, we have to get them using a message, because about:home uses the same search stuff. So if the search strings need to be changed one day, they need to change in one place only. They do get cached however on the WebIDL side, so unnecessary messages between MozSearchContent.js and ContentSearch.jsm don't get sent.
I guess when we remove webidl stuff this won't be rel

[2016-01-20 17:16] rlr opened #185 "Replace platform.js with messaging shim."
s/WebIDL/WebChannel/

[2016-01-20 20:40] k88hudson commented on #185
:dancer:

[2016-01-20 22:30] rlr commented on #179
First I thought this was just adding `aria-*` and `role` attributes to the right elements. But it's more than that because those attributes are dynamic based on what is in focus and all that. We need to add a bunch of keyboard event handling too. Basically, reimplement/apply the accessibility specific stuff in https://dxr.mozilla.org/mozilla-central/source/browser/base/content/contentSearchUI.js

[2016-01-22 15:54] k88hudson commented on #170
@emtwo hey, how far along is this?

[2016-01-22 16:17] emtwo commented on #170
@k88hudson it's pretty much working, just fixing up a couple of small things and should have it up for you to review in a couple of hours ;)

[2016-01-26 04:07] marcoscaceres commented on #39
FWIW, the dir was getting set when the l10n files were being generated. Did that regress?

[2016-01-26 04:09] marcoscaceres commented on #39
(oh, I see in a different bug that the views/l10n are handled by react now...)

[2016-01-26 04:12] marcoscaceres commented on #89
It seems we are all tolerating development without the need of the add-on. Maybe we should just close this?

[2016-01-26 04:16] marcoscaceres commented on #179
I hope we don't need to add additional arial-\* if we use the appropriate HTML elements. We should really get Moz's accessibility folks, like @asurkov, to do the review for us. It will save us a lot of time and at least we can be assured we are doing it right.

[2016-01-26 04:16] marcoscaceres commented on #169
heh

[2016-01-26 04:36] oyiptong commented on #89
I agree. We won't need an addon soon, after bug 1239118 lands. It will allow for localhost development.

[2016-01-26 04:36] #89 closed, assigned to nobody

[2016-01-26 04:39] oyiptong commented on #179
Down with arial, @marcoscaceres ? ;-)

[2016-01-26 04:41] marcoscaceres commented on #179
Busted! I'm still on post-op drugs :) Githubs is fun!!!!

[2016-01-26 12:17] rlr commented on #179
uhm. Well I just finished doing keyboard navigation of the search widget and added the attributes to match what's currently in product. But the attributes were the easy part. We can easily change that if there is a new gold standard for a11y in rich html widgets.

[2016-01-26 12:24] marcoscaceres commented on #179
@rlr, that's awesome to hear that you got that working, btw! My suggestion is basically let's defer additional stuff to the a11y folks. They will know more precisely what is needed (if anything!) and probably have access to actual a11y technology to test this on.

[2016-01-26 12:25] rlr commented on #179
yes, for sure! I dont feel qualified to sign off on the final review :+1:

[2016-01-26 14:27] oyiptong commented on #179
I've spoken to dbolter and will try to get on marco's calendar for an a11y review

[2016-01-26 15:48] asurkov commented on #179
@marcoscaceres I wish people have used accessible HTML elements instead ARIA, but that doesn't happen unfortunately for bunch of reasons.

Marco Zehe should be helpful in review, and is capable to advise about ARIA and accessible HTML if needed.

[2016-01-26 18:53] sarracini opened #189 "RTL Strategy"
Since `-moz-dir` isn't ideal for the rtl stuff, find a new strategy for dealing with rtl.
https://www.npmjs.com/package/cssjanus was suggested. From my understanding this is what we would need:
1. create a generate-rtl.js script which would read in the main css files that need to be rtl'ed, use cssjanus to convert the appropriate rtl styles, and generate a new file called `main-rtl.scss`, for exam

[2016-01-26 22:09] #189 closed, assigned to nobody

[2016-01-26 22:12] #39 closed, assigned to sarracini

[2016-01-26 22:13] #63 closed, assigned to nobody

[2016-01-27 01:38] marcoscaceres commented on #179
@asurkov, we have the possibility to do the right thing for a change, as we are basically redoing the new tab page from scratch (i.e., we don't have to "div" and "span" all the things, and can use actual  "HTML" stuff :smile:). Looking forward to getting Marco Zehe's feedback.

[2016-01-27 02:18] asurkov commented on #179
As long as the authors are on the same page about those divs and spans then we are in good shape :) Another problem is that HTML misses some widgets like grids you're probably gonna use.

[2016-01-27 19:52] k88hudson commented on #179
I talked to Marco Zehe in the office today, he suggested the following:
- look at about:home, test on Windows
- look at [this blog post](https://www.marcozehe.de/2014/03/11/easy-aria-tip-7-use-listbox-and-option-roles-when-constructing-autocomplete-lists) with regards to autocomplete stuff
- it is more expected/natural to tab to the to the next button and blur the search input, instead of maintain

[2016-01-27 22:21] oyiptong opened #191 "locale should be obtained from URL"
`locale` should be obtained from the URL and not from a pref, as per https://github.com/mozilla/remote-newtab/blob/d7ba21c494dd1863223cc022606e878d9ed3fb25/src/reducers/PrefsReducer.js#L14

This is because the pref for locales is not the only determinant.

The algorithm is described in: https://dxr.mozilla.org/mozilla-central/rev/aa90f482e16db77cdb7dea84564ea1cbd8f7f6b3/toolkit/modules/Locale.jsm#

[2016-01-27 22:52] oyiptong opened #192 "page should request prefs when needed"
at some point during initialization, the page should request prefs from chrome by sending a `REQUEST_PREFS` message.

The message doesn't need to have a parameter, all the prefs are going to be sent back to content

[2016-01-27 23:04] k88hudson commented on #192
There is an action called "`getPrefs`", it's just commented out becasue the WebIDL implementation was broken atm:

https://github.com/mozilla/remote-newtab/blob/master/src/components/Base/Base.js#L16

[2016-01-27 23:05] oyiptong opened #193 "change action formats to {type: ..., data: ...}"
right now, the page is expecting data at the top level of the object:

[code]

this suggests that the data looks like:

[code]

How about we do:

[code]

it's an almost no-cost abstraction and one can list the data attributes easily

[2016-01-27 23:05] k88hudson commented on #192
This is it here: https://github.com/mozilla/remote-newtab/blob/master/src/actions/PrefsActions.js#L6

The naming is a bit weird since it was a synchronous programmatic api, there wasn't really a point to having a request and response

[2016-01-27 23:08] k88hudson commented on #191
This is what is currently implemented here, sorry, there are some extraneous prefs in the test data
The locale data gets built into a separate file during the build process and imported here https://github.com/mozilla/remote-newtab/blob/master/src/main.js#L17
:+1:

[2016-01-27 23:08] #191 closed, assigned to nobody

[2016-01-27 23:08] #192 closed, assigned to nobody

[2016-01-27 23:08] k88hudson commented on #193
Agreed :+1:

[2016-01-27 23:49] marcoscaceres commented on #192
My understanding from what I've read in my email is that we are not going to use the WebIDL stuff (in favor WebChannel.jsm)... or is that only for some things? I can go and fix prefs WebIDL code if it's broken if we still want it.

[2016-01-28 00:17] oyiptong commented on #192
Hey @marcoscaceres. I think the code is still in transition. @k88hudson has some shims for testing and until the messaging code is ready, the plan is to use those.

The result is the same; the actions are sent to the reducers

[2016-01-28 04:07] oyiptong opened #194 "add pagehide event listener on init for chrome target unload"
Until we add functionality to WebChannels, In order for the chrome NewTabWebChannel bookkeeping to work, we need to send an event on `pagehide`.

Here's an example:

[code]

[2016-01-28 04:24] asurkov commented on #179
Autocompletes are supported by native HTML, please be cautious, it's likely you don't need ARIA for that. If not then please file a11y bug, we have to fix it.

Let me add that DOM focus and user focus may be different. Having said that, if the app keeps them in sync then it's great. However it's still ok if it doesn't, in this case you need to make sure to report the user focus to the assistive te

[2016-01-28 05:29] marcoscaceres commented on #192
@k88hudson @oyiptong, ok, np. Just let me know what you want me to do next... I'm currently working 3.5 hours/day for the next week or so while I recover (and get off the various :pill: :pill: :pill: :pill: :pill: :pill:s ).

[2016-01-28 15:58] #171 closed, assigned to sarracini

[2016-01-29 19:12] #193 closed, assigned to nobody

[2016-02-04 15:21] sarracini opened #199 "Hook Web Channel messaging into Redux"
With @oyiptong's patch in newtab-dev using WebChannel.jsm we can send messages down to content. We need to hook this into the redux workflow so remote-newtab can handle the incoming messages and dispatch according actions

[2016-02-09 19:43] oyiptong opened #200 "add sha hash to resource filenames at build time"
This is to make sure we cache and cache-bust properly

[2016-02-10 07:47] marcoscaceres commented on #200
I guess this is the most reliable way, but it feels really wrong... won't the files already downloaded + cached remain in the cache till they expire (even if they are not used)? Can we do cache busting using query strings instead? That's more SW friendly also (if that matters).

[2016-02-10 07:50] marcoscaceres commented on #200
(i.e., if we are just prototyping, we can force the client to re-validate using `Cache-Control: must-revalidate` + etags)

[2016-03-03 15:16] claudijd opened #202 "Remotely-hosted New Tab Page is 404'ing"
The project has a description of:

"Remotely-hosted New Tab Page https://mozilla.github.io/remote-newtab/src/"

When visiting https://mozilla.github.io/remote-newtab/src/ I get a 404 and I'm guessing this isn't intended behavior.

[2016-03-03 17:06] oyiptong commented on #202
Aha. We're no longer using the github io page. we should change the documentation

[2019-02-17 18:45] ghost opened #203 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- the wiki has been disabled, as it was not used

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-03-29 17:00] ghost opened #204 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-01 12:28] #204 closed, assigned to nobody